.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
  transition: all 0.3s ease; /* Apply transition to all properties */
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 170px; /* Adjust padding to maintain layout */
  background-color: rgba(0, 0, 0, 0.8); /* Adjust transparency as needed */
  z-index: 1000;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #25c8da 0.36%, #e1c423 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.9s;
}

.nav-connect:hover {
  transform: scale(1.05);
  background: linear-gradient(267deg, #a7da25 0.36%, #23aee1 102.06%);
  color: #000;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

.nav-menu li a:hover {
  color: #25c8da; /* Change text color on hover */
}

@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }
  .navbar-fixed {
    padding: 10px 50px;
  }
  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: rgb(17, 53, 153);
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}
