.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 120px;
  transition: background-color 0.3s ease, padding 0.3s ease; /* Smooth transition */
  box-sizing: border-box;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(27, 29, 27, 0.8);
  z-index: 1000;
  padding: 10px 120px; /* Adjust padding for fixed state */
  transition: background-color 0.3s ease, padding 0.3s ease; /* Smooth transition */
}

.nav-connect {
  padding: 20px 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #25c8da 0.36%, #e1c423 102.06%);
  font-size: 15px;
  cursor: pointer;
  transition: 0.9s, transform 0.9s;
  white-space: nowrap;
}

.nav-connect:hover {
  transform: scale(1.05);
  background: linear-gradient(267deg, #a7da25 0.36%, #23aee1 102.06%);
  color: #000;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-close,
.nav-mob-open {
  display: none;
}

.nav-menu li a:hover {
  color: #25c8da;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 50px;
    transition: background-color 0.3s ease, padding 0.3s ease;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: rgb(17, 53, 153);
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}
